@import url("antd/dist/antd.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  height: 45px;
  border-radius: 4px;
  cursor: pointer;
}
body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #102037;
  color: white !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: white;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  padding: 0 120px;
  padding-top: 10vh;
}

@media screen and (min-width: 1399px) {
  .container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    padding: 30px;
  }
}
