@import url("antd/dist/antd.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.darkMode {
  --bgColor: #102037;
  --textColor: #ffffff;
  --boxShadowInset1: #0b1727;
  --boxShadowInset2: #152947;
}
// box-shadow: inset 1.4px 1.4px 9.6px #0b1727,
// inset -1.4px -1.4px 9.6px #152947;
.lightMode {
  --bgColor: #ffffff;
  --textColor: #102037;
  --boxShadowInset1: #858585;
  --boxShadowInset2: #ffffff;
}

button {
  border: none;
  outline: none;
  height: 45px;
  border-radius: 4px;
  cursor: pointer;
}
body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bgColor);
  color: var(--textColor) !important;
  transition: ease-in-out 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--textColor);
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  padding: 0 120px;
  padding-top: 10vh;
}

.ant-drawer-content,
.ant-drawer-header {
  border: none;
  background-color: var(--bgColor) !important;
  .ant-form-item .ant-input-textarea-show-count::after {
    color: var(--textColor);
  }
  .anticon-close {
    color: var(--textColor);
  }

  .ant-drawer-title {
    color: var(--textColor) !important;
    font-size: 20px;
    font-weight: 700;
  }
  .ant-form-item-label > label {
    color: var(--textColor) !important;
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background-color: var(--bgColor) !important;
    color: var(--textColor);
    border: none;
    outline: none;
    box-shadow: inset 1.4px 1.4px 9.6px var(--boxShadowInset1),
      inset -1.4px -1.4px 9.6px var(--boxShadowInset2);
    &:hover {
      background-color: var(--bgColor);
      color: var(--textColor);
    }
  }

  .ant-input {
    background-color: var(--bgColor);
    color: var(--textColor);
    border: none;
    outline: none;
    padding: 10px 20px;
    box-shadow: inset 1.4px 1.4px 9.6px var(--boxShadowInset1),
      inset -1.4px -1.4px 9.6px var(--boxShadowInset2);
    &:hover {
      background-color: var(--bgColor);
      color: var(--textColor);
    }
  }
  .ant-btn {
    background-color: var(--bgColor);
    outline: none;
    box-shadow: 4.8px 4.8px 9.6px var(--boxShadowInset1),
      -4.8px -4.8px 9.6px var(--boxShadowInset2);
    border: none;
    margin: 10px 0;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:active {
      box-shadow: inset 4.8px 4.8px 9.6px var(--boxShadowInset1),
        inset -4.8px -4.8px 9.6px var(--boxShadowInset2);
    }
  }
}

@media screen and (min-width: 1399px) {
  .container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 30px;
  }
}
