@import url("antd/dist/antd.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  height: 45px;
  border-radius: 4px;
  cursor: pointer;
}
body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #102037;
  color: white !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: white;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  padding: 0 120px;
  padding-top: 10vh;
}

.ant-drawer-content,
.ant-drawer-header {
  .ant-form-item .ant-input-textarea-show-count::after {
    color: white;
  }
  .anticon-close {
    color: white;
  }
  border: none;
  background-color: #102037 !important;
  .ant-drawer-title {
    color: white !important;
    font-size: 20px;
    font-weight: 700;
  }
  .ant-form-item-label > label {
    color: white !important;
  }
  .ant-input {
    background-color: #102037;
    color: white;
    border: none;
    outline: none;
    padding: 10px 20px;
    box-shadow: inset 1.4px 1.4px 9.6px #0b1727,
      inset -1.4px -1.4px 9.6px #152947;
    &:hover {
      background-color: #102037;
      color: white;
    }
  }
  .ant-btn {
    background-color: #102037;
    outline: none;
    box-shadow: 4.8px 4.8px 9.6px #0b1727, -4.8px -4.8px 9.6px #152947;
    border: none;
    margin: 10px 0;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:active {
      box-shadow: inset 4.8px 4.8px 9.6px #0b1727,
        inset -4.8px -4.8px 9.6px #152947;
    }
  }
}

@media screen and (min-width: 1399px) {
  .container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 30px;
  }
}
