.reviewsMain {
  width: 100%;
  min-height: 100vh;
  padding: 30px;
  display: flex;
  padding-bottom: 150px;
  .reviewsCardContainer {
    flex: 0.7;

    .reviewHead {
      width: 100%;
      h3 {
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 43px;
        color: #ffffff;
      }
    }

    .cardCont {
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none;
      scrollbar-width: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: 30px;
    }
  }

  .posterContainer {
    flex: 0.3;
    display: flex;
    position: relative;
    // align-items: center;
    flex-direction: column;

    .poster {
      width: 367px;
      height: 655px;
      background: linear-gradient(164.16deg, #1d0130 0%, #080545 100%);
      border-radius: 4px;
      position: relative;
      display: flex;
      padding: 0 30px;
      padding-top: 25%;

      .content {
        h2 {
          font-style: normal;
          font-weight: bold;
          font-size: 36px;
          line-height: 43px;
          color: #ffffff;
        }

        .tradeBtn {
          margin-top: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          width: 163px;
          height: 47px;
          background: #ffffff;
          border-radius: 4px;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          color: #000000;

          img {
            margin-left: 5px;
          }
        }
      }

      .saly {
        bottom: -50px;
        right: -50px;
        position: absolute;
      }
    }

    .posterHead {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 40px;
      .addResBtn {
        width: 200px;
        height: 44px;
        border-radius: 4px;
        box-shadow: 4.8px 4.8px 9.6px #0b1727, -2.4px -2.4px 9.6px #152947;
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #ffffff;
        cursor: pointer;

        img {
          margin-right: 5px;
        }

        &:active {
          transition: all 0.3s ease-in-out;
          box-shadow: inset 4.8px 4.8px 9.6px #0b1727,
            inset -4.8px -4.8px 9.6px #152947;
        }
      }
    }
  }
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.reviewLoading {
  width: 100%;
  h3 {
    font-size: 24px !important;
    font-weight: 400 !important;
  }
}
/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
