.floatingNavbarContainer {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  width: 100%;
  position: fixed;
  bottom: 5%;
  left: 50%;
  z-index: 999;
  transform: translateX(-50%);
  background: var(--bgColor);
  box-shadow: 4.8px 4.8px 9.6px var(--boxShadowInset1),
    -2.4px -2.4px 9.6px var(--boxShadowInset2);
  .navLink {
    color: var(--textColor);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    &:active {
      background: var(--bgColor);
      box-shadow: inset 4.8px 4.8px 9.6px var(--boxShadowInset1),
        inset -2.4px -2.4px 9.6px var(--boxShadowInset2);
    }
  }
  .selected {
    transition: all 0.5s ease-in-out;
    background: var(--bgColor);
    box-shadow: inset 4.8px 4.8px 9.6px var(--boxShadowInset1),
      inset -2.4px -2.4px 9.6px var(--boxShadowInset2);
  }
}

@media screen and (max-width: 500px) {
  .floatingNavbarContainer {
    width: 90%;
    .navLink {
      font-size: 12px;
    }
  }
}
