.landing__container {
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  & main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    & h1 {
      font-size: 48px;
      font-weight: bold;
    }
    & a {
      font-size: 18px;
      font-weight: bolder;
      text-decoration: none;
      color: white;
      padding: 15px 58px;
      background-color: #5b55c2;
      margin-top: 25px;
      border-radius: 4px;
    }
  }

  & .imageWrapper {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
