.invalidWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  h3 {
    font-size: 26px;
    text-decoration: underline;
  }
  p {
    font-size: 22px;
  }
  a {
    font-size: 18px;
  }
}

.reviewContainer {
  display: flex;

  .reviewLeftContainer {
    img {
      height: 500px;
    }
  }
  .reviewRightContainer {
    padding: 0 50px;
    width: 100%;
    p {
      width: 100%;
      font-size: 22px;
      color: lightgray;
      display: flex;

      & span:first-child {
        font-weight: 700;
        min-width: 250px;
        max-width: 250px;
      }
      span {
        width: 100%;
      }
    }
  }
}
