.invalidWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  h3 {
    font-size: 26px;
    text-decoration: underline;
  }
  p {
    font-size: 22px;
  }
  a {
    font-size: 18px;
  }
}

.reviewContainer {
  display: flex;

  .reviewLeftContainer {
    img {
      height: 500px;
      object-fit: cover;
    }

    p {
      span {
        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }
  .reviewRightContainer {
    padding: 0 50px;
    width: 100%;

    p {
      width: 100%;
      font-size: 22px;
      display: flex;

      & span:first-child {
        font-weight: 700;
        min-width: 250px;
        max-width: 250px;
      }
      span {
        width: 100%;
      }
    }
  }
}

.reviewComments {
  padding-top: 50px;
}

.commentSection {
  padding: 30px 0 100px 0;

  div iframe html body .layout header {
    display: none !important;
  }
}

#disqus_thread {
  position: relative;
}
#disqus_thread:before {
  content: "";
  display: block;
  height: 50px;
  width: 100%;
  position: absolute;
  top: 140px;
  background: var(--bgColor);
}
#disqus_thread:after {
  content: "";
  display: block;
  height: 55px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: var(--bgColor);
}

#disqus_thred #main-nav {
  display: none;
}

@media screen and (max-width: 1000px) {
  .reviewContainer {
    flex-direction: column;
    align-items: center;

    .reviewLeftContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        height: 300px;
        width: 200px;
      }
    }
    .reviewRightContainer {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: unset;
    }
  }
}

@media screen and (max-width: 903px) {
  #disqus_thread:before {
    top: 220px;
  }
}

@media screen and (max-width: 768px) {
  #disqus_thread:before {
    top: 140px;
  }
  .reviewContainer {
    .reviewRightContainer {
      p {
        flex-direction: column;
        span:first-child::after {
          content: " :";
        }
        span:last-child {
          overflow: hidden;
          text-indent: -10px;
        }
      }
    }
  }
}
@media screen and (max-width: 724px) {
  #disqus_thread:before {
    top: 220px;
  }
}

@media screen and (max-width: 404px) {
  #disqus_thread:before {
    top: 290px;
  }
}
