.navMain {
  position: fixed;
  max-width: 1440px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  z-index: 999;
  background-color: var(--bgColor);
  .navMainLogo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .logoContainer {
    display: flex;
  }

  .actionContainer {
    display: flex;
    align-items: stretch;
    .ant-form-item-control-input,
    .ant-form-item-control-input-content,
    .ant-select {
      height: 100%;
      background-color: (--bgColor);
    }

    .inputSearchWrapper {
      display: flex;
      div {
        flex: 1;
      }
    }

    .ant-select-selector {
      display: flex;
      align-items: center;
      height: 100% !important;
      min-width: 200px;
      outline: none;
      border-radius: 4px;
      color: var(--bgColor);
      background-color: var(--textColor);

      .ant-select-selection-placeholder,
      .ant-select-selection-item {
        display: flex;
        height: 44px;
        align-items: center;
        color: var(--bgColor);
        background-color: var(--textColor);
      }
    }

    .customInputSearch {
      width: 306px;
      height: 44px;
      background: var(--textColor);
      border-radius: 4px;
      padding: 0 10px;
      margin: 0 5px;
      outline: none;
      border: none;
      color: var(--bgColor);

      & ::placeholder {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #848484;
      }
    }

    .searchBtn {
      cursor: pointer;
      margin: 0 5px;
      width: 100px;
      height: 44px;
      background: var(--bgColor);
      color: var(--textColor);
      box-shadow: 4.8px 4.8px 9.6px var(--boxShadowInset1),
        -2.4px -2.4px 9.6px var(--boxShadowInset2);
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:active {
        transition: all 0.3s ease-in-out;
        box-shadow: inset 4.8px 4.8px 9.6px var(--boxShadowInset1),
          inset -4.8px -4.8px 9.6px var(--boxShadowInset2);
      }
    }
  }
  .googleButton {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: var(--textColor);
    border-radius: 4px;
    background: var(--bgColor);
    box-shadow: 4.8px 4.8px 9.6px var(--boxShadowInset1),
      -2.4px -2.4px 9.6px var(--boxShadowInset2);
    font-size: 18px;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
    img {
      padding-right: 10px;
    }
    &:active {
      transition: all 0.3s ease-in-out;
      box-shadow: inset 4.8px 4.8px 9.6px var(--boxShadowInset1),
        inset -4.8px -4.8px 9.6px var(--boxShadowInset2);
    }
  }
}

.navContent {
  padding-top: 12vh;
}

@media screen and (max-width: 768px) {
  .navMain {
    flex-direction: column;
    align-items: unset;

    .actionContainer {
      flex-direction: column;
      align-items: unset;
      div {
        margin: 10px 0 0 0;
      }
      .ant-select {
        height: unset;
      }
      .ant-select-selector {
        height: unset !important;
      }
      .customInputSearch {
        margin: 0 10px 0 0;
        flex: 3 1;
      }
      .searchBtn {
        padding: 10px 20px;
        margin: 0;
        flex: 1 3;
      }
    }
  }
  .navContent {
    padding-top: 25vh;
  }
}

@media screen and (max-width: 500px) {
  .navMain {
    .googleButton {
      img {
        padding: 0;
      }
      span {
        display: none;
      }
    }
  }
}
