.trades {
  // padding-top: 12vh;
  .trades-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
    h2 {
      font-weight: 600;
      font-size: 36px;
    }
    button {
      background: #5b55c2;
      color: white;
      width: 200px;
      font-size: 17px;
    }
  }
}
