.trade-post {
    padding: 30px;
    margin: 10px 0;
    width: 440px;
    height: fit-content;
    background: #2C3D55;
    color: white;
    border-radius: 4px;
    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .head-left {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                height: 60px;
                width: 60px;
                border-radius: 500px;
            }
            h3 {
                font-size: 24px;
            }
            a {
                color: white;
                font-size: 17px;
            }
            span {
                padding-left: 10px;
            }
        }
        button {
            background: #5B55C2;
            border-radius: 4px;
            height: 45px;
            width: 115px;
            color: white;
            font-weight: bold;
            font-size: 17px;
        }
    }
    .body {
        padding: 30px 0 20px 0;
        font-size: 17px;
        line-height: 22px;
        box-sizing: border-box;
    }
    .foot {
        a {
            font-weight: bold;
            padding: 5px;
            color: white;
        }
    }
}

.trades {
    padding-top: 12vh;
    .trades-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 30px;
        h2 {
            font-weight: 600;
            font-size: 36px;
        }
        button {
            background: #5B55C2;
            color: white;
            width: 200px;
            font-size: 17px;  
        }
    }
}
